.ButtonSpace {
  border: 2px solid transparent;
  position: relative;
  width: 24%;
  padding-bottom: 24%;
  > .InnerButton {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 2rem;
  }
}
